# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Database
*.db
*.sqlite3

# Arquivos gerados
uploads/
generated_labels/
data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporarios
*.tmp
*.temp
